
header{
    background-color:darkgrey;
}

ul{
    font-size: 20px;
    background-color: cadetblue;
    display: flex;
    justify-content: space-around;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

h1{
   text-align: center;
   color: blue;
   font-size: 40px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: bold;
   padding: 20px;
   
}

body{
   
    flex-wrap: wrap;
}
main{
    margin-top: 30px;
    background-color: yellow;
    padding: 40px;
    font: bold;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


footer{
    font-size: 20px;
   margin-top: 20px;
    background-color: rgb(207, 187, 187);
    padding: 30px;
}

.fr{
    align-content: center;
    font: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

